/* Card design */
/* Your card CSS code here */
.card {
  height: 250px;
  position: relative;
  border-radius: 4px;
  color: white;
  box-shadow: 1px 1px 3px rgba(24,42,69, 0.1);
  border: 1px solid rgba(24,42,69, 0.1);
  margin: 10px auto;
  display: flex;
  background-size: cover;
}

.card h2{
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 40px;
  left: 10px;
}

.card .card-user-avatar {
  position: absolute;
  top: 10px;
  right:10px;
}

.card-category {
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.card-intro {
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 10px;
  bottom: 20px;
  transition: left 2s ease;
}

.card:hover .card-intro{
  transition: left 5s ease;
  left: 30px;
}

.card-overlay {
  background: black;
  opacity: 0;
  position: absolute;
  top:0;
  bottom: 0;
  width: 100%;
  transition: opacity 0.3s ease;
}

.card-overlay:hover {
  opacity: 0.3;
  transition: opacity 0.7s ease;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.cards .card{
  flex: 0 0 30%;
}
