/* Footer design */
/* Footer design */
.footer {
  background-color: $gray-darker;
  padding: 30px;
}

.footer a {
  color: $gray-light;
  transition: color 0.5s ease;
}

.footer a:hover{
  color: $gray-lighter;
  transition: color 0.5s ease;
}

.footer i {
  font-size: 30px;
}

.footer p {
  color: $gray-light;
}


